<header>
 <nav class="header-nav"> 
     <div class="header-nav-item">
        <a class="header-title" href="/">Mybraby</a>
     </div>
    <div class="header-nav-item temp" >
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
            <li><a href="/books">books</a></li>
            <li><a href="/books/new">Add Books</a></li>
        </ul>
    </div>
 </nav>

</header>